html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 100%;
  }

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f3f2ef;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}

.hide-scroll {
  overflow: hidden;
  
}

.brand-bg-color {
  background-color: #DDD9DA;
}



@font-face {
  font-family: 'Bernoru';
  src: url('/fonts/Bernoru-BlackMedium.otf') format('opentype');
  /* src: local('Bernoru-BlackMedium'), url('/fonts/Bernoru-BlackMedium.otf') format('opentype'); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'IMBPlexMono';
  src: url('/fonts/IBMPlexMono-Regular.ttf') format('opentype');
  /* src: local('Bernoru-BlackMedium'), url('/fonts/Bernoru-BlackMedium.otf') format('opentype'); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'MontSerrat';
  src: url('/fonts/NotoSansKR-Regular.ttf') format('opentype');
  /* src: local('Bernoru-BlackMedium'), url('/fonts/Bernoru-BlackMedium.otf') format('opentype'); */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}